@page "/products/create"
@inject ApplicationDbContext Context
@inject NavigationManager Navigation
@rendermode InteractiveServer
@attribute [Authorize]

<h1>Novo Produto</h1>
<EditForm Model="Model" OnValidSubmit="OnValidSubmitAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <div class="mb-3">
        <label class="form-label">Nome do Produto</label>
        <InputText @bind-Value="Model.Title" class="form-control"/>
        <ValidationMessage For="@(()=>Model.Title)"/>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Preço(R$)</label>
        <InputNumber @bind-Value="Model.Price" class="form-control"/>
        <ValidationMessage For="@(()=>Model.Price)"/>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Categoria</label>
        <InputSelect @bind-Value="Model.CategoryId" class="form-control"> @* Cria uma caixa para selecionar uma categoria *@
            @foreach (var category in Categories) @* Pega as categorias já criadas *@
            {
                <option value="@category.Id"> @* Define o tipo pelo Id e mostra as opções para marcar com o Title *@
                    @category.Title
                </option>
            }
        </InputSelect>
    </div>
    
    <button type="submit" class="btn btn-primary">
        Criar
    </button>
    <a href="/products">Cancelar</a>
</EditForm>

@code {
    public Product Model { get; set; } = new();
    public IEnumerable<Category> Categories { get; set; } = Enumerable.Empty<Category>(); 
    //vai receber um T
    
    protected override async Task OnInitializedAsync()
    {
        Categories = await Context
            .Categories
            .AsNoTracking()
            .OrderBy(x => x.Title)
            .ToListAsync();
    }

    public async Task OnValidSubmitAsync()
    {
        await Context.Products.AddAsync(Model);
        await Context.SaveChangesAsync();
        Navigation.NavigateTo("products");
    }

}