@page "/categories/create"
@inject ApplicationDbContext Context
@inject NavigationManager Navigation
@rendermode InteractiveServer
@attribute [Authorize]

<h1>Nova Categoria</h1>
<EditForm Model="@Model" OnValidSubmit="OnValidSubmitAsync"> @* Cria o form de Categoria por meio do Model e, liga ao método OnValidSubimitAsync*@ 
    <DataAnnotationsValidator />
    <ValidationSummary /> @* Lista de mensagens de error do forms *@
    
    <div class="mb-3">
        <label class="form-label">Nome da categoria</label> @* Subtítulo da box do formulário *@
        <InputText @bind-Value="Model.Title" class="form-control"/> @* criar um campo de entrada de texto (input) *@
        <ValidationMessage For = "@(()=>Model.Title)"/> @* Uma mensagem de erro quando preenchido errado o forms *@
    </div>

    <button type="submit" class="btn btn-primary">
        Criar
    </button>
    <a href="/categories">Cancelar</a>
</EditForm> @* Propriedade html do ASP.NET para form *@



@code{

    public Category Model { get; set; } = new();

    protected override void OnInitialized()
    {
       
    }

    public async Task OnValidSubmitAsync()
    {
        await Context.Categories.AddAsync(Model); @* Salva a categoria selecionada no Model *@
        await Context.SaveChangesAsync(); 
        Navigation.NavigateTo("categories"); @* Redireciona voce para a URL passada *@
    }
}