@page "/categories/{id:int}"
@inject ApplicationDbContext Context
@rendermode InteractiveServer

<h1>Editar Categorias</h1>

@if (Model is null)
{
    <p class="text-center">
        <em>Categoria não entrada</em>
    </p>
}
else
{
    <h1>@Model.Title (@Model.Id)</h1>
    <EditForm Model="@Model">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        
        <div class="mb-3">
            <label class="form-label">Nome da categoria</label> @* Subtítulo da box do formulário *@
            <InputText @bind-Value="Model.Title" class="form-control" readonly/> @* criar um campo de entrada de texto e filtra pelo título da Categoria(input) *@
        </div>
        
        <a href="/categories">Voltar</a>
    </EditForm>
}

@code {

    [Parameter]
    public int Id { get; set; }

    public Category? Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Model = await Context
            .Categories
            .AsNoTracking()
            .FirstOrDefaultAsync(x => x.Id == Id);
    }


}